*{
    margin: 0;
    padding: 0;
}
body,html{
    min-width:100%;
    background-color: #f5f5f5;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}
/* @media(max-width:2000px){
.header__nav-list,.header__search-container
,.items__card-container,.main__time,.main__size{
    margin: 0;
    width: 1500px;
}
} */
.grip{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grip__full-width{
    width: 100%;
}
.grip__row{
    display: flex;
    flex-wrap: wrap;
}