/* HEADER CSS */

.header{
height: 115px;
}
.header__nav{
    height: 25px;
    background-color: #f7f7f7;
}
.header__nav-list,.header__search-container
,.items__card-container{
    width: 1190px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0 auto;
}
.header__nav-item:hover,
.item__child-list:hover,
.item__child-item:hover,
.items__card-container-item:hover{
    color: #f67223;
}
.text__style{
    text-decoration:none;
    color:#9e9e9e
}
.style1{
    color: #1f2572;
}
.header__nav-item{
font-size: 12px;
padding: 0 17px;
margin-top: 6px;
}
.header__search{
    height: 90px;
    background-color: white;
}
.header__search-container{
    height: 45px;
    padding-top: 12px;
    justify-content: space-between;
}
.header__search-input{
    width: 690px;
    display: flex;
}
.header__search-input input{
    width: 640px;
    height: 19px;
    background-color: #eef0f4;
    border: none;
    border-radius: 2px;
    padding: 13px 0 13px 15px;
}
.header__search-input input:focus{
    outline: none;
}
.header__search-input button{
    height: 45px;
    width: 45px;
    background-color: #f67223;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
::placeholder{
    color:#9e9e9e
}

/* item-card CSS */

.items__card{
    height: 344px;
    background: rgb(255 ,202 ,122);
}
.items__card-container{
    height: 344px;
}
.items__card-container-list,.item__child-list{
    width: 202px;
    height: 344px;
    padding: 8px 0 12px 8px;
    box-sizing: border-box;
    background-color: #fff;
    list-style: none;
    border: 1px solid #e2dede;
    color: #757575;
    font-size: 13px;
    line-height: 27px;
    cursor: pointer;
}
.items__card-container-item:hover{
    background-color: #eef0f4;
}
.items__card-container-list{
    position:relative;
}
.item__child-list{
position:absolute;
display: none;
left: 200px;
top: -1px;
}
.items__card-container-item:hover .item__child-list{
    display: unset;
}
.main{
    background-color: #f5f5f5;
}
.main__size{
    width: 1190px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}
.main__button{
    height: 115px;
    position: relative;
    display: block;
    justify-content: center;
}
.main__button-list{
    padding-top: 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__button-item{
    width: 290px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.main__button-item:hover{
    border: 1px solid rgba(0,0,0,0.03);
    box-shadow: 2px 2px rgba(0,0,0,0.07);
}
.text-button{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.main__button p{
position: absolute;
bottom: 5px;
left: 0;
}
.main__time{
    width: 1190px;
    height: 60px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
}
.main__time-container{
    height: 36px;
    width: 1190px;
    display: flex;
    align-items: center;
    position: relative;
}
.main__time-clock{
    display: flex;
    align-items: center;
    margin-left: 60px;
    font-size: 14px;
}
.main__time-box{
    height:36px ;
    width: 222px;
    border: 1px solid #f67223;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    position: absolute;
    right:12px;
    text-decoration: none;
}
.main__time-text,.main__time-box{
    font-size: 14px;
    color: #f67223;
}
.main__time-text{
   margin-left: 20px;
}
.time__box{
height: 36px;
width: 36px;
color: #fff;
background-color: #d3232a;
border-radius:2px ;
}
.main__button-img{
    height: 34px;
    width: 34px;
    background-color: rgb(231, 225, 225);
    border-radius: 17px;
    margin-left: 5px;
    margin-right: 10px;
}
.main__time-style{
    margin: 0 5px;
}
.dcn__list{
    height: 320px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.dcn__list-item{
    height: 300px;
    width: 190px;
    padding: 10px 0;
    text-decoration: none;
}
.dcn__list-item:hover{
    /* border: 1px solid #999;
    border-top: 0; */
}
.dcn-img{
    width: 190px;
    height: 190px;
}
.dcn__list-text{
    padding-top: 5px;
    height: 110px;
    margin: 0 5px;
    
}
.popular__list{
    height: 210px;
    background-color: #f5f5f5;
    max-width: 0 auto;
    display: flex;
    justify-content: space-between;
}
.popular__list-item{
    
}
.icon-logo{
    height: 50px;
    width: 200px;
    background-image:url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/TGDD/Desktop/icon_common@2x.png?v=1);
    background-size: 200px; 
}